@media (max-width:768px) {
  .style0,
  .style1 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 62px;
    margin-top: 23px;
    width: 251px;
    height: 70px
  }
  .style0 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 44px;
    margin-top: 119px;
    width: 104px;
    height: 104px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style2,
  .style3 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 62px;
    margin-top: 23px;
    width: 251px;
    height: 70px
  }
  .style2 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 234px;
    margin-top: 119px;
    width: 104px;
    height: 104px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style0,
  .style1 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 127px;
    margin-top: 47px;
    width: 514px;
    height: 143px
  }
  .style0 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 90px;
    margin-top: 244px;
    width: 213px;
    height: 213px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style2,
  .style3 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 127px;
    margin-top: 47px;
    width: 514px;
    height: 143px
  }
  .style2 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 479px;
    margin-top: 244px;
    width: 213px;
    height: 213px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style0,
  .style1 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 152px;
    margin-top: 56px;
    width: 616px;
    height: 172px
  }
  .style0 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 108px;
    margin-top: 292px;
    width: 255px;
    height: 255px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style2,
  .style3 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 152px;
    margin-top: 56px;
    width: 616px;
    height: 172px
  }
  .style2 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 574px;
    margin-top: 292px;
    width: 255px;
    height: 255px
  }
}
@media (min-width:1200px) {
  .style0,
  .style1 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 198px;
    margin-top: 74px;
    width: 803px;
    height: 224px
  }
  .style0 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 141px;
    margin-top: 381px;
    width: 333px;
    height: 333px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style2,
  .style3 {
    background-color: #8f8f8f;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    margin-left: 198px;
    margin-top: 74px;
    width: 803px;
    height: 224px
  }
  .style2 {
    background-color: red;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    margin-left: 749px;
    margin-top: 381px;
    width: 333px;
    height: 333px
  }
}